#contact 
{
    background:#ffffff;
    width: 100%;
}
a 
{
    text-decoration: none;
    color: #000;
}

.cont
{
    margin: 0 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.con1
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.con2
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.con3
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.con4
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

@media (max-width: 768px) {

   .cont {
      padding: 0;
      margin: 0;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }

   .con1 {
     margin-bottom: -30px;
   }
   .con2 {
      margin-bottom: -30px;
   }

   .con3 {
      margin-bottom: -30px;
   }
}