#contact 
{
    background:#ffffff;
    width: 100%;
}
a 
{
    text-decoration: none;
    color: #000;
}

.cont
{
    margin: 0 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.con1
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.con2
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.con3
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.con4
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}