#skills {
    text-align: justify;
    background: #ffffff;
    width: 100%;
    padding: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust the gap between skills items */
}

.skillss {
    margin-left: 20px; /* Adjust the margin for better spacing on smaller screens */
}

#skills h2 {
    font-size: 1.8em; /* Decrease font size for better readability on smaller screens */
    padding: 10px; /* Adjust padding for better spacing on smaller screens */
}

#skills .skillss h4 {
    font-size: 1.2em;
}

#skills .skillss p {
    font-size: 1.2em;
}

.skills-item {
    text-align: center;
}

.skills-item h4 {
    display: inline;
    margin-top: 0;
    /* Add margin and alignment adjustments as needed for better spacing on smaller screens */
}

@media (max-width: 768px) {
    #skills {
        width: auto;
      height: auto;
        padding: 10px; /* Adjust padding for better spacing on smaller screens */
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skillss {
        margin-left: 0;
    }

    #skills h2 {
        font-size: 1.6em;
        text-align: center; /* Center the heading on smaller screens */
    }

    .skills-item h4 {
        margin-right: 0;
        margin-bottom: 5px; /* Adjust margin-bottom for better spacing on smaller screens */
    }
}

